# Configurações do Bot Discord Nukenin
DISCORD_BOT_TOKEN="SEU_DISCORD_BOT_TOKEN_AQUI"
CLIENT_ID="SEU_CLIENT_ID_AQUI"
GUILD_ID="SEU_GUILD_ID_AQUI"

# Integração Riot Games API
RIOT_API_KEY="RGAPI-SEU-TOKEN-AQUI"

# Comunicação interna entre serviços
PORT=3001
API_URL="http://localhost:3001"
WEB_DRAFT_URL="http://localhost:5173"
